html, body {
  background-color: #dddddd;
  padding: 0;
  margin-top: 25px;
  text-align: center;
  font-family: "Arial";
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 32px;
  display: inline;
}

img {
  display: inline;
}
